<!-- Views/Shared/_Header.cshtml -->
<div class="p-3 px-lg-4 border-bottom">
    <div class="row align-items-center">
        <div class="col-sm-4 col-8">
            <div class="d-flex align-items-center">
                <div class="d-block d-lg-none me-2 ms-0">
                    <a href="#" class="text-muted px-1 font-size-16"><i class="ri-menu-2-line"></i></a>
                </div>
                <div class="me-3 ms-0">
                    <img src="~/img/avatar-4.jpg" class="rounded-circle avatar-xs" alt="">
                </div>
                <div class="flex-grow-1">
                    <h5 class="font-size-16 mb-0 text-truncate">Doris Brown</h5>
                    <p class="text-muted mb-0">Online</p>
                </div>
            </div>
        </div>

        <div class="col-sm-8 col-4">
            <ul class="list-inline user-chat-nav text-end mb-0">
                <li class="list-inline-item d-none d-sm-inline-block">
                    <button type="button" class="btn nav-btn" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Search">
                        <i class="ri-search-line"></i>
                    </button>
                </li>
                <li class="list-inline-item d-none d-sm-inline-block">
                    <button type="button" class="btn nav-btn" title="Voice Call">
                        <i class="ri-phone-line"></i>
                    </button>
                </li>
                <li class="list-inline-item d-none d-sm-inline-block">
                    <button type="button" class="btn nav-btn" title="Video Call">
                        <i class="ri-vidicon-line"></i>
                    </button>
                </li>
                <li class="list-inline-item d-none d-sm-inline-block">
                    <button type="button" class="btn nav-btn" title="Profile">
                        <i class="ri-user-2-line"></i>
                    </button>
                </li>
                <li class="list-inline-item">
                    <div class="dropdown">
                        <button class="btn nav-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ri-more-2-fill"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">View Profile</a></li>
                            <li><a class="dropdown-item" href="#">Archive</a></li>
                            <li><a class="dropdown-item" href="#">Mute</a></li>
                            <li><a class="dropdown-item" href="#">Delete</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
